v1.0.0/BUS-KallsonnysOMS-WS/war/WEB-INF/wsdl/productServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="productServices"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tns="http://ws.oms.kallsonys.org/productservices"
	xmlns:typens="http://kallsonys.integration.com/kallsonysschema/types"
	targetNamespace="http://ws.oms.kallsonys.org/productservices">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://kallsonys.integration.com/kallsonysschema/types"
				schemaLocation="schema/kallSonysSchema.xsd">
			</xsd:import>
		</xsd:schema>
    </wsdl:types>
	<wsdl:message name="getProductsRequest">
		<wsdl:part element="typens:infoPaging" name="getProductsRequest" />
	</wsdl:message>
	<wsdl:message name="getProductsResponse">
		<wsdl:part element="typens:infoProductList" name="getProductsResponse" />
	</wsdl:message>
	<wsdl:message name="ProductFault">
		<wsdl:part name="ProductRequestFault" element="typens:ProductException"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProductDetailRequest">
		<wsdl:part name="getProductDetailRequest" element="typens:getProductDetailId"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProductDetailResponse">
		<wsdl:part name="getProductDetailResponse" element="typens:productDetailResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProductDetailFault">
		<wsdl:part name="getProductDetailFault" element="typens:ProductException"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ProductServices">
		<wsdl:operation name="getProducts">
			<wsdl:input message="tns:getProductsRequest" />
			<wsdl:output message="tns:getProductsResponse" />
            <wsdl:fault name="fault" message="tns:ProductFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="getProductDetail">
			<wsdl:input message="tns:getProductDetailRequest"></wsdl:input>
			<wsdl:output message="tns:getProductDetailResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:getProductDetailFault"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProductServicesSOAP" type="tns:ProductServices">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getProducts">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getProductDetail">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProductServices">
		<wsdl:port binding="tns:ProductServicesSOAP" name="ProductServicesSOAP">
			<soap:address location="http://localhost:8080/ProductServicesWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
